<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>DL Project</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>
<body>
    
    <div class="container">
        <p>{{request.user}}</p>
        <a href="{% url 'logout' %}">Log Out</a>
        <div class="intro">
            <h1>Welcome to ReDiscord!</h1>
            <h6>Choose your room and start chatting with your friends</h6>
            
            
            <br>
            <a class="rooms" href="chat/room1">Room #1</a>
            <a class="rooms" href="chat/room2">Room #2</a>
            <a class="rooms" href="chat/room3">Room #3</a>
            <a class="rooms" href="chat/room4">Room #4</a>
        </div>
    </div>
    
    
</body>
</html>